In [0]:
import numpy as np
import pandas as pd

In [0]:
df = spark.read.csv("/FileStore/tables/retail.csv", header=True, sep=',')
df = df.toPandas()

In [0]:
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850,United Kingdom

In [0]:
df.describe()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
count,541909,541909,540455,541909,541909,541909,406829,541909
unique,25900,4070,4223,722,23260,1630,4372,38
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,10/31/11 14:41,"1,25",17841,United Kingdom
freq,1114,2313,2369,148227,1114,50496,7983,495478

In [0]:
df.shape

Out[12]: (541909, 8)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_no    541909 non-null  object
 1   stock_code    541909 non-null  object
 2   description   540455 non-null  object
 3   quantity      541909 non-null  int64
 4   invoice_date  541909 non-null  datetime64[ns]
 5   unit_price    541909 non-null  float64
 6   customer_id   406829 non-null  float64
 7   region        541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [0]:
df2['salario'] = df2['salario'].astype(float)
df2['n_filhos'] = df2['n_filhos'].astype(float)
df2['idade_anos'] = df2['idade_anos'].astype(int)

In [0]:
df['quantity'] = df['quantity'].astype(int)
df['invoice_date'] = pd.to_datetime(df['invoice_date'])
df['unit_price'] = df['unit_price'].str.replace(',','.').astype(float)
df['customer_id'] =  df['customer_id'].astype(float)

In [0]:
df.value_counts()

Out[48]: invoice_no  stock_code  description                          quantity  invoice_date         unit_price  customer_id  region
555524      22698       PINK REGENCY TEACUP AND SAUCER        1        2011-06-05 11:37:00  2.95        16923.0      United Kingdom    20
            22697       GREEN REGENCY TEACUP AND SAUCER       1        2011-06-05 11:37:00  2.95        16923.0      United Kingdom    12
572861      22775       PURPLE DRAWERKNOB ACRYLIC EDWARDIAN   12       2011-10-26 12:46:00  1.25        14102.0      United Kingdom     8
572344      M           Manual                                48       2011-10-24 10:43:00  1.50        14607.0      United Kingdom     6
578289      23395       BELLE JARDINIERE CUSHION COVER        1        2011-11-23 14:07:00  3.75        17841.0      United Kingdom     6
                                                                                                                                       ..
553915      21174       POTTERING IN THE SHED METAL SIGN      12       2011-05-19 19:51:00  2.08        18225.0      United Kingdom     1
            21165       BEWARE OF THE CAT METAL SIGN          12       2011-05-19 19:51:00  1.69        18225.0      United Kingdom     1
            21080       SET/20 RED RETROSPOT PAPER NAPKINS    12       2011-05-19 19:51:00  0.85        18225.0      United Kingdom     1
            21078       SET/20 STRAWBERRY PAPER NAPKINS       12       2011-05-19 19:51:00  0.85        18225.0      United Kingdom     1
C581569     84978       HANGING HEART JAR T-LIGHT HOLDER     -1        2011-12-09 11:58:00  1.25        17315.0      United Kingdom     1
Length: 401604, dtype: int64

In [0]:
df.groupby('region').agg(n=('invoice_no', 'count')).sort_values('n', ascending=False)

,n
region,
United Kingdom,495478
Germany,9495
France,8557
EIRE,8196
Spain,2533
Netherlands,2371
Belgium,2069
Switzerland,2002
Portugal,1519
Australia,1259
Norway,1086
Italy,803
Channel Islands,758
Finland,695
Cyprus,622
Sweden,462
Unspecified,446
Austria,401
Denmark,389
Japan,358
Poland,341
Israel,297
USA,291
Hong Kong,288
Singapore,229
Iceland,182
Canada,151
Greece,146
Malta,127
United Arab Emirates,68
European Community,61
RSA,58
Lebanon,45
Lithuania,35
Brazil,32
Czech Republic,30
Bahrain,19
Saudi Arabia,10

In [0]:
df[df['region']=='United Kingdom'].shape[0]/df.shape[0]

Out[45]: 0.9143195628786382

In [0]:
df[['invoice_no','description']].groupby('description').count().sort_values('invoice_no', ascending=False).head(20)

,invoice_no
description,
WHITE HANGING HEART T-LIGHT HOLDER,2369
REGENCY CAKESTAND 3 TIER,2200
JUMBO BAG RED RETROSPOT,2159
PARTY BUNTING,1727
LUNCH BAG RED RETROSPOT,1638
ASSORTED COLOUR BIRD ORNAMENT,1501
SET OF 3 CAKE TINS PANTRY DESIGN,1473
PACK OF 72 RETROSPOT CAKE CASES,1385
LUNCH BAG BLACK SKULL.,1350
NATURAL SLATE HEART CHALKBOARD,1280
POSTAGE,1252
JUMBO BAG PINK POLKADOT,1251
HEART OF WICKER SMALL,1237
JAM MAKING SET WITH JARS,1229
JUMBO STORAGE BAG SUKI,1214
PAPER CHAIN KIT 50'S CHRISTMAS,1210
JUMBO SHOPPER VINTAGE RED PAISLEY,1202
LUNCH BAG CARS BLUE,1197
LUNCH BAG SPACEBOY DESIGN,1192
JAM MAKING SET PRINTED,1182

In [0]:
df.sort_values('unit_price', ascending=False).head(20)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
222681,C556445,M,Manual,-1,2011-06-10 15:31:00,38970.00,15098.0,United Kingdom
524602,C580605,AMAZONFEE,AMAZON FEE,-1,2011-12-05 11:36:00,17836.46,NaN,United Kingdom
43702,C540117,AMAZONFEE,AMAZON FEE,-1,2011-01-05 09:55:00,16888.02,NaN,United Kingdom
43703,C540118,AMAZONFEE,AMAZON FEE,-1,2011-01-05 09:57:00,16453.71,NaN,United Kingdom
15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.33,NaN,United Kingdom
16356,C537651,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:49:00,13541.33,NaN,United Kingdom
15016,C537630,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:04:00,13541.33,NaN,United Kingdom
16232,C537644,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:34:00,13474.79,NaN,United Kingdom
524601,C580604,AMAZONFEE,AMAZON FEE,-1,2011-12-05 11:35:00,11586.50,NaN,United Kingdom
299982,A563185,B,Adjust bad debt,1,2011-08-12 14:50:00,11062.06,NaN,United Kingdom
446533,C574902,AMAZONFEE,AMAZON FEE,-1,2011-11-07 15:21:00,8286.22,NaN,United Kingdom
173277,C551685,POST,POSTAGE,-1,2011-05-03 12:51:00,8142.75,16029.0,United Kingdom
173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029.0,United Kingdom
342635,C566899,AMAZONFEE,AMAZON FEE,-1,2011-09-15 13:53:00,7427.97,NaN,United Kingdom
191386,C553355,AMAZONFEE,AMAZON FEE,-1,2011-05-16 13:58:00,7006.83,NaN,United Kingdom
173391,C551699,M,Manual,-1,2011-05-03 14:12:00,6930.00,16029.0,United Kingdom
287150,C562086,AMAZONFEE,AMAZON FEE,-1,2011-08-02 12:27:00,6721.37,NaN,United Kingdom
16357,C537652,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:51:00,6706.71,NaN,United Kingdom
312246,C564341,AMAZONFEE,AMAZON FEE,-1,2011-08-24 14:53:00,6662.51,NaN,United Kingdom
262414,C559917,AMAZONFEE,AMAZON FEE,-1,2011-07-13 15:21:00,6497.47,NaN,United Kingdom

In [0]:
df['lucro/perda'] = df['quantity']*df['unit_price']

In [0]:
df['lucro/perda'].sum()

Out[53]: 9747747.933999998

In [0]:
df.sort_values('lucro/perda', ascending=True).head(20)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region,lucro/perda
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,United Kingdom,-168469.60
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,-77183.60
222681,C556445,M,Manual,-1,2011-06-10 15:31:00,38970.00,15098.0,United Kingdom,-38970.00
524602,C580605,AMAZONFEE,AMAZON FEE,-1,2011-12-05 11:36:00,17836.46,NaN,United Kingdom,-17836.46
43702,C540117,AMAZONFEE,AMAZON FEE,-1,2011-01-05 09:55:00,16888.02,NaN,United Kingdom,-16888.02
43703,C540118,AMAZONFEE,AMAZON FEE,-1,2011-01-05 09:57:00,16453.71,NaN,United Kingdom,-16453.71
15016,C537630,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:04:00,13541.33,NaN,United Kingdom,-13541.33
16356,C537651,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:49:00,13541.33,NaN,United Kingdom,-13541.33
16232,C537644,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:34:00,13474.79,NaN,United Kingdom,-13474.79
524601,C580604,AMAZONFEE,AMAZON FEE,-1,2011-12-05 11:35:00,11586.50,NaN,United Kingdom,-11586.50
299984,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom,-11062.06
299983,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom,-11062.06
422375,C573079,M,Manual,-2,2011-10-27 14:15:00,4161.06,12536.0,France,-8322.12
446533,C574902,AMAZONFEE,AMAZON FEE,-1,2011-11-07 15:21:00,8286.22,NaN,United Kingdom,-8286.22
173277,C551685,POST,POSTAGE,-1,2011-05-03 12:51:00,8142.75,16029.0,United Kingdom,-8142.75
342635,C566899,AMAZONFEE,AMAZON FEE,-1,2011-09-15 13:53:00,7427.97,NaN,United Kingdom,-7427.97
191386,C553355,AMAZONFEE,AMAZON FEE,-1,2011-05-16 13:58:00,7006.83,NaN,United Kingdom,-7006.83
173391,C551699,M,Manual,-1,2011-05-03 14:12:00,6930.00,16029.0,United Kingdom,-6930.00
287150,C562086,AMAZONFEE,AMAZON FEE,-1,2011-08-02 12:27:00,6721.37,NaN,United Kingdom,-6721.37
16357,C537652,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:51:00,6706.71,NaN,United Kingdom,-6706.71

In [0]:
df[df['lucro/perda']<0].groupby('description').agg(n=('invoice_no', 'count'), perda=('lucro/perda', 'sum')).sort_values('n', ascending=False).head(10)

,n,perda
description,,
Manual,244,-146784.46
REGENCY CAKESTAND 3 TIER,181,-9722.55
POSTAGE,126,-11871.24
JAM MAKING SET WITH JARS,87,-1012.79
Discount,77,-5696.22
SET OF 3 CAKE TINS PANTRY DESIGN,74,-744.95
SAMPLES,61,-3112.44
STRAWBERRY CERAMIC TRINKET BOX,55,-415.75
ROSES REGENCY TEACUP AND SAUCER,54,-1150.35
RECIPE BOX PANTRY YELLOW DESIGN,47,-421.05

In [0]:
df[df['lucro/perda']>0].groupby('description').agg(n=('invoice_no', 'count'), lucro=('lucro/perda', 'sum')).sort_values('n', ascending=False).head(10)

,n,lucro
description,,
WHITE HANGING HEART T-LIGHT HOLDER,2323,106292.77
JUMBO BAG RED RETROSPOT,2112,94340.05
REGENCY CAKESTAND 3 TIER,2017,174484.74
PARTY BUNTING,1706,99504.33
LUNCH BAG RED RETROSPOT,1594,35752.01
ASSORTED COLOUR BIRD ORNAMENT,1489,59094.93
SET OF 3 CAKE TINS PANTRY DESIGN,1399,38158.39
PACK OF 72 RETROSPOT CAKE CASES,1370,21259.10
LUNCH BAG BLACK SKULL.,1328,22421.21
NATURAL SLATE HEART CHALKBOARD,1263,28147.96

In [0]:
df[df['lucro/perda']>0].groupby('customer_id','invoice_date').agg(n=('invoice_no', 'count'), lucro=('lucro/perda', 'sum')).sort_values('n', ascending=False).head(10)

In [0]:
df[df['stock_code']=='M']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region,lucro/perda
2239,536569,M,Manual,1,2010-12-01 15:35:00,1.25,16274.0,United Kingdom,1.25
2250,536569,M,Manual,1,2010-12-01 15:35:00,18.95,16274.0,United Kingdom,18.95
5684,536865,M,Manual,1,2010-12-03 11:28:00,2.55,NaN,United Kingdom,2.55
6798,536981,M,Manual,2,2010-12-03 14:26:00,0.85,14723.0,United Kingdom,1.70
7976,537077,M,Manual,12,2010-12-05 11:59:00,0.42,17062.0,United Kingdom,5.04
...,...,...,...,...,...,...,...,...,...
531432,580956,M,Manual,4,2011-12-06 14:23:00,1.25,17841.0,United Kingdom,5.00
533082,C581009,M,Manual,-1,2011-12-07 09:15:00,125.00,16971.0,United Kingdom,-125.00
534308,C581145,M,Manual,-1,2011-12-07 13:48:00,9.95,17490.0,United Kingdom,-9.95
538321,581405,M,Manual,3,2011-12-08 13:50:00,0.42,13521.0,United Kingdom,1.26
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom,-224.69